@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');
body {
    font-family: 'Ubuntu';
    /* background-color: #E5E5E5; */
    margin: 0 auto;
    max-width: 1440px;
    min-width: 430px;
}


/* HEADER */

.container-logo {
    background-color: #2E948A;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    align-content: center;
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.25);
}

nav {
    text-align: right;
    margin-right: 5%;
}

.menu {
    padding: 0;
    margin: 0;
    list-style: none;
}

.logo {
    padding: 5% 30%;
}

.menu-item {
    display: inline;
}

.menu-item-link {
    color: #FDFDFD;
    font-weight: 700;
    font-size: 20px;
    text-decoration: none;
    margin: 10px 20px;
}


/********************/


/*CONTEÚDO PRINCIPAL*/


/* Section da 1ª página */


/********************/

.banner {
    display: flex;
    flex-wrap: wrap;
    margin: 5%;
    align-items: center;
    justify-content: center;
}

.title-banner {
    color: #FF4081;
    font-weight: 700;
    font-size: 60px;
    text-align: left;
    margin: 0;
    padding: 5% 0;
}

.subtitle-banner {
    color: #555555;
    font-size: 27px;
    margin: 0;
    padding: 5% 0;
    text-align: left;
}


/********************/


/* botão da section1 home */


/********************/

.button-list {
    padding-top: 5%;
    border: 2px solid #ff4081;
    box-sizing: border-box;
    border-radius: 62px;
    font-size: 27px;
    color: #FF4081;
    padding: 2% 10%;
    justify-content: center;
    text-align: center;
    background-color: #FDFDFD;
    cursor: pointer;
}

.button-list:hover {
    transition: 0.5s all;
    transform: scale(1.1);
    background-color: #FF4081;
    color: #FDFDFD;
}

.img-ilustra-banner {
    height: 50%;
    margin: 15 auto;
}


/********************/


/* botão da section2 container-list */


/********************/

.container-list {
    background-color: #E5E5E5;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    align-content: center;
    border: 0;
    text-align: center;
}

.container-list h2 {
    font-size: 25px;
    font-weight: 700;
    color: #FF4081;
}

.container-list p {
    color: #000000;
    font-size: 17px;
    margin: 0;
    padding: 5% 0;
    text-align: center;
}

.container-list img {
    height: 270px;
    margin: 15 5%;
}

.card-list {
    margin: 5% auto;
}

.button-comecar {
    border-radius: 62px;
    box-sizing: border-box;
    font-size: 20px;
    color: #FDFDFD;
    padding: 3% 10%;
    justify-content: center;
    text-align: center;
    background-color: #FF4081;
    cursor: pointer;
    border: 1px solid #FDFDFD;
}

.button-comecar:hover {
    background-color: #E5E5E5;
    color: #FF4081;
    transition: 0.5s all;
    transform: scale(1.1);
    border: 2px solid #FF4081;
}


/* ******************************** */


/* ***** SECTION COMENTARIOS ***** */


/* ******************************** */

.reference-comment {
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    text-align: left;
    padding: 5rem;
}

.reference-comment div div {
    display: flex;
    gap: 2.5rem;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-bottom: 5rem;
    width: 70%;
}

.title-reference {
    font-style: normal;
    font-weight: bold;
    font-size: 37px;
    line-height: 50px;
    color: #009688;
    padding: 4%;
    margin-top: 5%;
    margin-bottom: 0;
}


/* ******************************** */


/* ***** MORE CONTENT ***** */


/* ******************************** */

.more-content {
    background-color: #E5E5E5;
    margin: 0 auto;
}